Resources:
  AWSEBSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Security Group for instances"
      SecurityGroupIngress:
        -  {SourceSecurityGroupOwnerId : {"Fn::GetAtt" : ["AWSEBLoadBalancer", "SourceSecurityGroup.OwnerAlias"]}, 
           SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer", "SourceSecurityGroup.GroupName"]},
           IpProtocol: "tcp", 
           FromPort: "6000", 
           ToPort: "6000"}
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      LoadBalancerName: "awseb-e-h-AWSEBLoa-19NMDQ9BU5BRT"
      Listeners:
        -  {LoadBalancerPort: 6000, InstancePort: 6000, Protocol: "TCP", InstanceProtocol: "TCP"}
      HealthCheck:
        HealthyThreshold: 3 
        Interval: 30 
        Target: TCP:6000
        Timeout: 5 
        UnhealthyThreshold: 5
commands:
  00_iptables:
    command: iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 6000 -j REDIRECT --to-port 6000
    test: ! iptables -t nat -L | grep -i 6000
  01_iptables:
    command: iptables -t nat -A OUTPUT -p tcp --dport 6000 -j REDIRECT --to-port 6000
    test: ! iptables -t nat -L | grep -i 6000
