<div class="ui vertical masthead center aligned segment main-content" id="landingImage">
  <div class="ui text container">
    <h1 class="ui huge inverted header bigTitle">SOTG</h1>
    <h1 class="ui huge inverted header">Harness the power of Streaming Big Data</h1>
  </div>
</div>
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="row">
      <div class="column">
        <h1 class="ui header">
          <i class="blue twitter icon"></i>
          <div class="content">
            Twitter Data. Simplified.
          </div>
        </h1>
        <p>We make it easy to collect data from Twitter by listening to keywords that <strong>you</strong> specify.</p>
      </div>
      <div class="column">
        <h1 class="ui center aligned header">
          <i class="yellow database icon"></i>
          <div class="content">
            Own your database.
          </div>
        </h1>
        <p>Your database will be populated with all tweets that correspond with your keywords.</p>
      </div>
      <div class="column">
        <h1 class="ui center aligned header">
          <i class="red heartbeat icon"></i>
          <div class="content">
            Brand Sentiment
          </div>
        </h1>
        <p>Our advanced machine learning algorithms will provide insights into how customers engage with your brand.</p>
      </div>
    </div>
  </div>
</div>
